$mobile: 375.1px;
$desktop: 1440px;

$bp-mobile: "(max-width: #{$mobile})";
$bp-desktop: "(min-width: #{$mobile})";

$red-primary: hsl(0, 100%, 74%);
$green-primary: hsl(154, 59%, 51%);
$blue-accent: hsl(248, 32%, 49%);
$dark-blue-neutral: hsl(249, 10%, 26%);
$grayish-blue-neutral: hsl(246, 25%, 77%);

$branco: #ffffff;

@mixin fontePadrao ($weight: 400) {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
    color: $branco;
    text-align: center;
}

$radius: .5em;

@mixin radius {
    border-radius: $radius;
    padding: $radius;
}

@mixin sombra {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.28);
}